.site {
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
  color: #fff;
  font-family: Arial;
}
body{
  background: rgb(255, 255, 255);
  min-width: device-width;
  width: 100%;
}
*{
  outline: none;
  scroll-behavior: smooth;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 11vh;
  background: rgba(107, 122, 128, 1);
}
.centr {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1vh auto;
}
.header h1{
  margin: 1vh auto;
  font-size: calc(20px + 2vw);;
  margin-top: 5px;
}
.info{
  margin: auto;
  overflow-x:hidden;
  padding: 1vh;
  width: 85vw;
  height: 50vh;
  border-radius: 20px;
  background: rgba(107, 122, 128, 1);
}
.info h4{
  text-align: left;
  font-size: calc(10px + 1vw);;
  margin-top: 5px;
}
.footer{
  display: flex;
  min-height: 20vh;
  height: auto;
  width: 100%;
  background: rgba(107, 122, 128, 1);
}
/* ================================================Scroll============================================ */

::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:4px;
  height:0px;

}

::-webkit-scrollbar-track {
  background-color:#d0d0d0;
}

::-webkit-scrollbar-thumb {
  background: linear-Gradient(35deg,#a6a6a6, #747474);
}

::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:6px;
  height:0px;
}

::-webkit-scrollbar{
  width: 12px;
}
