.site {
  margin: 2vh auto;
  width: 95vw;
  height: 90vh;
  border-radius: 20px;
  background: rgb(182, 172, 174);
  color: #fff;
  font-family: Arial;
  padding: 18px;
  box-shadow: 4px 4px 7px #4f4f4f;
}
body{
  background: linear-gradient(90deg, #bad8ee, #c8c5e8);
}
.header{
  margin: 1vh auto;
  padding: 1vh;
  width: 85vw;
  height: 10vh;
  border-radius: 20px;
  background: rgba(219, 189, 189, 0.59);
}
.header h1{
  text-align: center;
  font-size: 5rem;
  margin-top: 5px;
}
