.site {
  margin: 2vh auto;
  width: 95vw;
  height: 90vh;
  border-radius: 20px;
  background: rgb(182, 172, 174);
  color: #fff;
  font-family: Arial;
  padding: 1vh;
  box-shadow: 4px 4px 7px #4f4f4f;
}
body{
  background: linear-gradient(90deg, #bad8ee, #c8c5e8);
  min-width: device-width;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh auto;
  padding: 1vh;
  width: 85vw;
  height: 10vh;
  border-radius: 20px;
  background: rgba(219, 189, 189, 0.59);
}
.centr {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1vh auto;
}
.header h1{
  margin: 1vh auto;
  font-size: calc(20px + 2vw);;
  margin-top: 5px;
}
.info{
  margin: auto;
  overflow-x:hidden;
  padding: 1vh;
  width: 50vw;
  height: 50vh;
  border-radius: 20px;
  background: rgba(219, 189, 189, 0.59);
}
.photo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1vh;
  width: 30vw;
  height: 50vh;
  border-radius: 20px;
  background: rgba(219, 189, 189, 0.59);
}
.my_photo{
  max-width:30vw;
  max-height:50vh;
  width: auto;
  height: auto;
  border-radius: 20px;
}
.info h4{
  text-align: left;
  font-size: calc(10px + 1vw);;
  margin-top: 5px;
}
.footer{
  margin: 1vh auto;
  padding: 1vh;
  width: 85vw;
  height: 15vh;
  border-radius: 20px;
  background: rgba(219, 189, 189, 0.59);
}
